<h1>About</h1>
<p>
	I really like
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	because I'm learning to use
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
	in (maybe less than) one month.
</p>
