<div class="hero-unit">
	<div class="row">
	  <div class="span8">
	  	<h1>What's up World?!</h1>
	  </div>
	</div>
	<p>
		I'm learning Rails. Checkout my Drupal Project called GoSLPro
</p>
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-inverse btn-large" %>
		
	</p>
	<p>
		by: <%= link_to "Gary", "http://goslpro.com/gary" %>
	</p>
</div>


