<h1>What's up World?!</h1>
<p>
	I'm learning Rails.
<br>
	Checkout my Drupal Project 
	<%= link_to "GoSLPro", "http://goslpro.com" %>
	called GoSLPro
</p>
<p>
	by: <%= link_to "Gary", "http://goslpro.com/gary" %>
</p>

